.comment{
    font-size:20px;
    margin-left:2%;    
}
.msg{
    font-size:20px;
    margin-left:2%;
}
.like{
    font-size:24px;
    margin-left:15%;
}
.act2{
    float:left;
    margin-top: 0.4px;
    margin-left: 3%;
    font-size:15px;
    width:5em;
    height:1.5em;
    background-color:rgb(218, 218, 218);
    border-radius: 9%;
    display: flex;
    justify-content: center;
}
.act{
    float:left;
    margin-top: 0.4px;
    margin-left: 3%;
    font-size:15px;
    width:5em;
    height:1.5em;
    background-color:rgb(218, 218, 218);
    border-radius: 9%;
    display: flex;
    justify-content: center;
}
h5{
    color:grey;
    margin-left: 3%;
    font-family:Verdana;
}
h2{
    color:grey;
    margin-left: 3%;
    font-family:verdana;
}
h1{ 
    font-size:35px;
    margin-left: 3%;
    font-family:verdana;
}
.image{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width:25em;
    height:15em;   
}
.main_div{
    border-radius:2%;
    width:25em;
    height:31em;
    background-color:whitesmoke;
    box-shadow: 4px 2px 4px 4px gray;
    margin-top: 4%;
}
body{
    display: flex;
    justify-content: center;
}